@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:wght@100;200;300;500;600;700&family=Kalam:wght@700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand&family=Roboto:wght@400;500&family=Teko:wght@400;600&family=Ubuntu:wght@300;400;500;700&family=Varela&family=Varela+Round&display=swap");

.uns {
  font-family: "Amaranth", sans-serif;
}

p {
  font-family: "ABeeZee", sans-serif;
  text-align: center;
}

li {
  list-style-type: none;
}

li:hover {
  text-decoration: underline;
}

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/*! TopCarousel START */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*! TopCarousel START */

/*! Themen START */
.themen-link:hover {
  transform: scale(0.85); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease-in-out;
  background-color: #db4408 !important; /* Change the background color on hover */
}

.themen-link:hover .themen-icon,
.themen-link:hover .themen-text {
  color: #db4408 !important;
}
/*! Themen END */


/*! Kultur und Kunst START */
.kultur-praf {
  font-size: 1.15rem;
}

.kultur-praf p {
  text-align: start;
}

.custom-card {
  transition: transform 0.3s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.custom-card:hover {
  transform: scale(0.98);
  box-shadow: none;
}

.custom-card img {
  transition: transform 0.3s;
}

.custom-card img:hover {
  transform: scale(1.05);
}
/*! Kultur und Kunst END */

.religion-section {
  background: url('https://img.freepik.com/free-vector/stained-glass-mosaic-church-temple-cathedral-windows-light-composition-with-ornate-skylight-rays-floor-reflection-vector-illustration_1284-82247.jpg?size=626&ext=jpg&ga=GA1.1.258947574.1676464177&semt=sph') no-repeat center center fixed;
  background-size: cover;
  width: 100%; /* Remove the double quotes */
  border: 3px solid #000;
  border-radius: 15px;
}